<!-- product-item.component.html -->

<button *ngIf="file && isImage()" type="button" class="btn" data-bs-toggle="modal"
  [attr.data-bs-target]="'#modal_' + file.fileAttachmentId" (click)="openModalImage()">
  <img [src]="file.fileUrl" [alt]="file.fileAttachmentName" class="w-100 shadow-1-strong rounded"
    alt="{{file.fileAttachmentName}}" />
</button>
<button *ngIf=" file &&isVideo()" type="button" class="btn" data-bs-toggle="modal"
  [attr.data-bs-target]="'#modal_' + file.fileAttachmentId" (click)="openModalVideo()">
  <video class="w-100 shadow-1-strong rounded" [src]="file.fileUrl" controls>
    Your browser does not support the video tag.
  </video>
</button>