<!-- <div class="custom-dropzone" ngx-dropzone  (change)="onSelect($event)">
	<ngx-dropzone-label>
		<div>
			<h2>My custom dropzone</h2>
		</div>
	</ngx-dropzone-label>
	<ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
		<ngx-dropzone-label></ngx-dropzone-label>
	</ngx-dropzone-image-preview>
  <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
    <ngx-dropzone-label></ngx-dropzone-label>
  </ngx-dropzone-video-preview>
</div> -->
<input type="file" #fileInputRef multiple (change)="onSelectFile($event)">