  <div class="modal-header">
    <h5 class="modal-title">{{file.fileAttachmentName}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.close()"></button>
  </div>
  <div class="modal-body mh-50">
    <video class="w-100 shadow-1-strong rounded" [src]="file.fileUrl" controls>
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.close()">Close</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> <i class="fa fa-trash"
        title="Delete Image"></i></button>
    <button type="submit" class="btn btn-primary" (click)="downloadFile(file.fileAttachmentName, file.fileUrl)"> <i class="fa fa-download"
        title="Download Image"></i>
    </button>
  </div>
