<div class="not-found-page d-flex align-items-center justify-content-center text-center">
    <div>
        <!-- Error Image -->
        <img src="/assets/images/not-found.png" alt="Not Found" class="img-fluid mb-4" style="max-width: 300px;">

        <p class="lead mb-5">
            The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
        </p>
        <a routerLink="/" class="btn btn-primary btn-lg">Go Home</a>
    </div>
</div>

<!-- error-401.component.html -->

<div class="unauthorized-page d-flex align-items-center justify-content-center text-center">
    <h1>401 - Unauthorized</h1>
    <p class="lead mb-5">Oops! You are not authorized to access this resource.</p>
    <p class="lead mb-5">Please log in or contact the administrator for assistance.</p>
  
    <!-- You can include additional styling or links as needed -->
  
    <!-- Example: Redirect to login page -->
    <a routerLink="/login" class="btn btn-primary">Go to Login</a>
  </div>
  