<div class="connection-refused-page d-flex align-items-center justify-content-center text-center">
    <div>
        <h1 class="fw-bold">Connection Refused</h1>

        <img src="/assets/images/connection-refused-image.png" alt="Connection Refused" class="img-fluid mb-4"
            style="max-width: 300px;">
        <p class="lead mb-4">
            Oops! It seems we're having trouble connecting to the server. Please check your internet connection or try
            again later.
        </p>
        <a href="/" class="btn btn-primary btn-lg">Return Home</a>
    </div>
</div>