<!-- registration.component.html -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
                        <div class="mb-3">
                            <label for="displayName" class="form-label">Display Name</label>
                            <input type="text" class="form-control" id="displayName" formControlName="displayName"
                                required>
                            <div *ngIf="registrationForm.controls['displayName'].hasError('required') && registrationForm.controls['displayName'].touched"
                                class="text-danger">
                                Display Name is required
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" formControlName="email"
                                placeholder="abcd@example.com" required>
                            <div *ngIf="registrationForm.controls['email'].hasError('required') && registrationForm.controls['email'].touched"
                                class="text-danger">
                                Email is required
                            </div>
                            <div *ngIf="registrationForm.controls['email'].hasError('email') && registrationForm.controls['email'].touched"
                                class="text-danger">
                                Invalid email address
                            </div>
                            <div *ngIf="registrationForm.controls['email'].hasError('emailTaken')" class="text-danger">
                                Email is already taken.
                              </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                required>
                            <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched"
                                class="text-danger">
                                Password is required
                            </div>
                            <div *ngIf="registrationForm.controls['password'].hasError('minlength') && registrationForm.controls['password'].touched"
                                class="text-danger">
                                Password must be at least 6 characters
                            </div>
                            <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].touched" class="text-danger">
                                Password must contain at least one non-alphanumeric character and one uppercase letter
                              </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword"
                                formControlName="confirmPassword" required>
                            <div *ngIf="registrationForm.controls['confirmPassword'].hasError('required') && registrationForm.controls['confirmPassword'].touched"
                                class="text-danger">
                                Confirm Password is required
                            </div>
                            <div *ngIf="registrationForm.hasError('passwordMismatch') && registrationForm.controls['confirmPassword'].touched"
                                class="text-danger">
                                Passwords do not match
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" [disabled]="loading">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>