<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="abcd@example.com" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password"  required>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember Me</label>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="loading">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  