<!-- error-401.component.html -->
<div class="unauthorized-page align-items-center justify-content-center text-center">
    <h1 class="mb-5">401 - Unauthorized</h1>
    <p class="lead">Oops! You are not authorized to access this resource.</p>
    <p class="lead mb-5">Please log in or contact the administrator for assistance.</p>
  
    <!-- You can include additional styling or links as needed -->
  
    <!-- Example: Redirect to login page -->
    <a routerLink="/account/login" class="btn btn-primary">Go to Login</a>
  </div>
  