<div class="container mt-3">
  <div class="row">

    <!-- Sidebar for Filters -->
    <div class="col-md-3">
      <!-- <h5 class="text-primary ml-3 mt-4 mb-2">Sort</h5>  -->
      <!-- Changed to h5 for better hierarchy -->
      <!-- <select class="form-select" style="width: auto;" [(ngModel)]="params.sort" (change)="applySort()">
        <option value="MonthAsc">Month Ascending</option>
        <option value="MonthDesc">Name Descending</option>
      </select> -->
      <h5 class="text-primary ml-3">Profile</h5>
      <ul class="list-group my-3">
        <li class="list-group-item  list-group-item-action" *ngFor="let profile of params.profiles"
          [class.selected]=" profile.profileId === params.selectedProfile?.profileId" (click)="selectProfile(profile)"
          style="background-image: url({{profile.avatar}});">
          {{ profile.profileName }}
        </li>
      </ul>

      <h5 class="text-primary ml-3">Type</h5>
      <ul class="list-group my-3">
        <li class="list-group-item  list-group-item-action" *ngFor="let type of params.fileTypes"
          [class.selected]=" type.catalogCode === params.selectedFileType?.catalogCode" (click)="selectType(type)">
          {{ type.catalogText_vi }}
        </li>
      </ul>
      <h5 class="text-primary ml-3">Extention</h5>
      <ul class="list-group my-3">
        <li class="list-group-item  list-group-item-action" *ngFor="let extention of params.fileExtentions"
          [class.selected]=" extention.catalogCode === params.selectedFileExtention?.catalogCode"
          (click)="selectExtention(extention)">
          {{ extention.catalogText_vi }}
        </li>
      </ul>
    </div>
    <!-- Main Area for Products -->
    <section class="col-md-9 ">
      <div class="col-md-12 text-center mt-3">
      </div>
      <div class="d-flex justify-content-between align-items-center pb-2">
        <div class="d-flex justify-content-center align-items-center">
          <app-pagination-header [totalItems]="params.totalItems" [pageNumber]="params.page"
            [pageSize]="params.pageSize"></app-pagination-header>
        </div>
        <div class="d-flex m-2">
          <button type="button" class="btn btn-outline-primary mx-2" data-bs-toggle="modal"
            data-bs-target="#myModalCreateProfile">
            <i class="fa fa-plus" aria-hidden="true"></i> Create Profile
          </button>
          <button type="button" class="btn btn-outline-success mx-2" data-bs-toggle="modal"
            data-bs-target="#myModalUpload">
            <i class="fa fa-upload" aria-hidden="true"></i> Upload
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-4 mb-4 mb-lg-0 mh-25 d-flex align-items-center"
          *ngFor="let file of params.fileAttachments">
          <app-product-item [file]="file"></app-product-item>
        </div>
      </div>


      <!-- Gallery -->
      <div class="d-flex justify-content-center">
        <app-pagination [totalItems]="params.totalItems" [pageSize]="params.pageSize"
          (pageChanged)="onPageChanged($event)"></app-pagination>
      </div>
    </section>
  </div>
</div>

<!-- app-store.component.html -->
<div class="modal fade" id="myModalUpload" tabindex="-1" aria-hidden="true">
  <form (ngSubmit)="onSubmitFormUpload()" #uploadForm="ngForm">

    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload Files</h5>
          <button type="button" #closebuttonupload class="btn-close"
            (click)="this.productUploadComponent.resetFileInput()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Include a form with your custom dropzone component -->
          <app-product-upload [profiles]="params.profiles"></app-product-upload>
        </div>
        <div class="modal-footer">
          <button type="button" #closebuttonupload class="btn btn-secondary"
            (click)="this.productUploadComponent.resetFileInput()" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>

          <!-- Change the button type to submit to trigger ngSubmit -->
        </div>

      </div>

    </div>
  </form>
</div>

<div class="modal fade" id="myModalCreateProfile" tabindex="-1" aria-hidden="true">
  <form (ngSubmit)="onSubmitFormCreateProfile()" #uploadForm="ngForm">

    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Profile</h5>
          <button type="button" #closebuttoncreateprofile class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Include a form with your custom dropzone component -->
          <app-product-profiles></app-product-profiles>
        </div>
        <div class="modal-footer">
          <button type="button" #closebuttoncreateprofile class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>

          <!-- Change the button type to submit to trigger ngSubmit -->
        </div>

      </div>

    </div>
  </form>
</div>